#login-page {
  background-color: #ffa52f;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-page-form-container {
  background-color: rgb(255, 130, 28);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

#login-title-container {
  margin-bottom: 20px;
}

#login-title-text {
  color: white;
}

.profile-form-button {
  border-radius: 50px;
}