/* -------------------- login page -------------------- */

#login-page {
  background-color: #ffa52f;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-page-form-container {
  background-color: rgb(255, 130, 28);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  max-width: 253px;
}

#login-title-container {
  margin-bottom: 20px;
}

#login-title-text {
  color: white;
}

.profile-form-button {
  border-radius: 50px;
}

/* -------------------- sign in page -------------------- */

.sign-up-page-fine-print {
  text-align: left;
  font-size: 10px;
  color: white !important;
  font-weight: 300;
}

#sign-up-page-error-box {
  width: 100%;
  padding: 0px;
  border-radius: 4px;
  background-color: rgb(255, 154, 72);
  font-size: 10px;
  text-align: left;
  color: red;
  display: inline-block;
  margin-bottom: 20px;
}

#sign-up-page-error-box > p {
  margin: 0px;
  margin-left: 5px;
}

/* -------------------- home page -------------------- */

#home-page {
  background-color: #ffa52f;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#home-page-list-container {
  background-color: rgb(255, 130, 28);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 70%;
  height: 70%;
  margin-top: 30px;
  border: 4px solid rgb(238, 123, 28);
  overflow: auto;
}

#home-page-list-container::-webkit-scrollbar {
  display: none;
}

.home-page-list {
  background-color: rgb(214, 114, 32);
  border: 4px solid rgb(180, 92, 20);
  list-style-type: none;
  border-radius: 20px;
  margin-bottom: 20px;
  color: white;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  display: flex;
  padding: 0px 20px 0px 20px;
  font-size: 25px;
}